* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.font24 {
  font-size: 24px;
}

.padtop-10 {
  padding-top: 10px;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr 1.5fr 1fr;
  color: #ffff;
  text-transform: capitalize;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: aqua;
}

.hero {
  background-color: #c079c1;
  flex-grow: 1;
}
.sidebar {
  background-color: #1b5131;
  flex-grow: 2;
}

.maincontent {
  background-color: #f5bb1c;
  flex-grow: 7;
}

.extracontent {
  background-color: #404040;
  flex-grow: 3;
}

.footer {
  background-color: rgb(196, 128, 0);
}

.Appmidcontainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.relatedsection {
  display: flex;
}

.relatedimage {
  background-color: rgba(9, 194, 9, 0.783);
  flex-grow: 3;
}

.relatedpost {
  background-color: rgba(238, 136, 211, 0.783);
  flex-grow: 1;
}
